@model IEnumerable<Parking_Management_System.Models.VehicleRegistration>

<table>
    <thead>
    <td>
        @Html.DisplayNameFor(model => model.Id)
        </td>
    <td>
            @Html.DisplayNameFor(model => model.SpotNumber)
    </td>
    <td>
            @Html.DisplayNameFor(model => model.VehicleName)
    </td>
    <td>
            @Html.DisplayNameFor(model => model.VehicleNumber)
    </td>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                </td>
            </tr>

        }
    </tbody>
</table>